@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a0205;
  color: #f5e6c8;
  font-family: 'Rajdhani', sans-serif;
}